
/*
.navbar-toggler{
  border:none;
  color:white;
}

.navbar-toggler-icon{
  position: relative;
  right:5px;
}
.navbar-toggler:focus{
  outline:none ;
}
input[type="text"]:focus {
    outline: none !important;
    box-shadow: none;
    border-color: inherit;
    -webkit-box-shadow: none;
  }
  .navbar.navbar-dark.navbar-expand-md.bg-dark {
    background-color: rgb(0,0,0) !important;
    opacity: 0.8;
  
  }
*/
/*.navbar.navbar-dark.navbar-expand-md.bg-dark {
    background-color: rgb(0,0,0) !important;
    opacity: 0.8;
  
}*/
.src-bar{
    display: none;
  }
  
  .src-bar.active{
    display: inline;
  }
  
  .nav-element.hide{
    display:none ;
  } 

  .search-box{
      color:white;
      background-color:rgba(32, 32, 32, 0.1);
      border:none;
      border-bottom:1px solid purple;
      width:240px;
      height:35px;
  }